<% include header%>
<div class="container web-body" style="margin-top:100px;width: 900px;">
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="panel panel-default">
                <div class="panel-heading" style="height: 50px;">
                    <div class="panel-title" style="text-align: left">添加客户</div>
                </div>
                <div class="panel-body" style="padding: 30px 50px 0 50px;">
                    <form action="/people" class="form-horizontal" role="form" method="post" >
                        <div class="form-group" style="margin-bottom: 25px;">
                            <input type="text" class="form-control" name="Name" required="required" placeholder="* 客户名" />
                        </div>
                        <div class="form-group" style="margin-bottom: 25px;">
                            <input type="text" class="form-control" name="Age" autocomplete="off"  placeholder="年龄" />
                        </div>
                        <div class="form-group" style="margin-bottom: 25px;">
                            <input type="text" class="form-control" name="Phone" autocomplete="off" required="required" placeholder="* 手机号" />
                        </div>
                        <div class="form-group" style="margin-bottom: 30px;">
                            <input type="email" class="form-control" name="Email" autocomplete="off" required="required" placeholder="* 邮箱" />
                        </div>
                        <div class="form-group" style="margin-bottom: 50px;">
                            <input type="submit" class="btn btn-success btn-block" value="添加" >
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<% include footer%>